

body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size:13px;
  color:#666;
  background-image:url(../img/texture.png);
  background-size:cover;


}

header {
  text-align: center;
  color: black;
}

h1{
  font-family: 'Lato', Helvetica, sans-serif;
  font-size:19px;
  letter-spacing: .23315em;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.canvas{
	padding: 100px;
	margin: auto;
	display: block;
}

@media screen and (max-width: 750px) {
    .canvas{
        padding: 20px;
        margin: auto;
    }
}

.nav-list{
	display: inline;
}

.nav-list a:hover{
	color:#2edaea;
	text-decoration:none;
}

.nav-list a{
	color:#47bcc7;
	position: relative;
	margin-right: 11px;
	margin-left: 11px;
	font-weight: 620;
	font-size:13px;
	text-transform:uppercase;
	letter-spacing: .0525em;

}

.nav-list .active{
	color:#ebce3d;
}


.social-icon-list {
	padding-top:45px;

    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
    font-size: 18px;
    margin-left: 2px;
    margin-right: 2px;
}

.social-icon a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
	border-radius: 5px;
    padding:15px 17px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ebce3d;
}
.fa-facebook:hover {
    background-color: #3b5998;
    color:#fff;

}
.fa-instagram {
	border-radius: 5px;
    padding:15px 15px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ebce3d;
}
.fa-instagram:hover {
    background-color: #fb3958;
    color:#fff;
}

.fa-linkedin {
	border-radius: 5px;
    padding:15px 15px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ebce3d;
}
.fa-linkedin:hover {
    background-color: #007bb5;
    color:#fff;
}
.fa-github {
	border-radius: 5px;
    padding:15px 15px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ebce3d;
}
.fa-github:hover {
    background-color: #000000;
    color:#fff;

}

.about-me-row{
  margin-left: 40px;
  margin-right: 40px;
}

#navigation
{
	padding-top: 14px;
}

#about-me{
  padding-top:70px;
}
#intro-text{
	padding-top:50px;
}

#about-txt{
  padding-top:70px;
}

#av-logo{
	width:50px;
	height: auto;
}

#about-img{
  height: 500px;
  width: auto;
}
#desk-img{
	padding-top:50px;
	height: 100%:
	width: auto;
}